@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* @font-face {
  font-family: 'Pretendard Variable';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard.woff') format('woff');
  font-style: normal;
} */


html {overflow-y:scroll; overflow-x:hidden;scroll-behavior: smooth; width:100%;}
.wrap{width: 100%; min-height: 100%; position: relative; overflow:hidden;}

/* clearfix */
.cf::before, .cf::after{display:block; content:''; clear: both;}
body{
  margin:0px;
color:#fff;
  width:100%;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight:400 ;
  line-height: 1.5 ;
  font-size:16px ;
  word-break: keep-all ;}
img{border:0; max-width: 100%; width: 100%; display: block; object-fit: cover;}
.font_type01{ font-family: "Montserrat", sans-serif;  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;}

/* font-family: "Montserrat", sans-serif; */

/* boundary */
[class*='bd']{width: 100%; margin-left:auto; margin-right:auto; position: relative;}
.bd-xs{max-width: 640px;} .bd-ss{max-width: 840px;} .bd-sm{max-width: 960px;} .bd-md{max-width: 1200px;} .bd-lg{max-width: 1440px;} .bd-xl{max-width: 1720px;}








@media (max-width:1660px){

[class*='bd']{padding-left: 16px; padding-right:16px;}

 
  
}